# secure
*.env

# temporary
temp/
*.bak

# misc
.vscode/
node_modules/
build/*

# needed folders
!build/public
!build/public/*
build/public/*/*
!build/public/*/.mt
!build/private
build/private/*
!build/private/.mt

# test folders
src/public
src/private
